	<!-- Header Section Start -->
	<header id="home" class="hero-area">
		<div class="overlay">
			<span></span>
			<span></span>
		</div>

		{% include widgets/navigation.html %}

		<div class="container">
			<div class="row space-100">
				<div class="col-lg-6 col-md-12 col-xs-12">
					<div class="contents">
						<h2 id="head-title" class="head-title">{{ site.intro[varId].title }}</h2>
						<p id="head-description">
							{{ site.intro[varId].description }} </p>
						<div class="row">
							<div class="header-button">
								<a href="#get-started" class="btn btn-border-filled page-scroll">Learn More</a>
							</div>
							<div class="fb-send-to-messenger btn" messenger_app_id="498860363814397"
								page_id="172817753627723" data-ref="welcome" color="white" size="xlarge"
								style="padding: 5px;">
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-xs-12 p-0">
					<div class="intro-img">
						<img src="{{ site.baseurl }}/images/header-image.svg" class="img-fluid" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Section End -->