<!-- Business Plan Section Start -->
<section id="{{ include.id }}">
    <div class="container">

        <div class="row">
            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                <div class="business-item-img">
                    <img src="{{ site.baseurl }}/images/business/business-img.png" class="img-fluid" alt="">
                </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-4">
                <div class="business-item-info">
                    <h3>How your business could become readily available for <span
                            id="fb-users-value">200,000,000</span> people in <span id="user-country">USA</span>?</h3>
                    <p>There are <span id="fb-users-value-details">200,000,000</span> people in <span
                            id="user-country-details">USA</span> that are actively using Facebook. With ChatStore, your
                        business gets closer to all of them.<br />
                        Without installing anything, people can reach your business with just one click, look through
                        your goods or services, and purchase.<br />
                        ChatStore enables you to:<br /><br />

                        ✅ Present your goods or services in an attractive way. <br />
                        ✅ Attract people with promotions.<br />
                        ✅ Maintain a list of purchases.<br />
                        ✅ Handle initial communication.<br />
                        ✅ All of the above - automatically.<br /><br />

                    <!-- <a class="btn btn-common" href="#">Start Now</a> -->
                    <a class="btn btn-common" data-toggle="modal" data-target="#exampleModal">
                        Subscribe
                    </a>
                </div>
            </div>
            <!-- End Col -->

        </div>
    </div>
</section>
<!-- Business Plan Section End -->