<!-- Business Plan Section Start -->
<section id="{{ include.id }}">
    <div class="container">

        <div class="row">
            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                <div class="business-item-img row">
                    <img src="{{ site.baseurl }}/images/present-1.png" style="max-width: 30%;height: auto;"
                        data-aos="fade-right" data-aos-duration="1000" class="img-fluid" alt="">
                    <img src="{{ site.baseurl }}/images/present-2.png" style="max-width: 30%;height: auto;"
                        data-aos="fade-up" data-aos-duration="1000" class="img-fluid" alt="">
                    <img src="{{ site.baseurl }}/images/present-3.png" style="max-width: 30%;height: auto;"
                        data-aos="fade-left" data-aos-duration="1000" class="img-fluid" alt="">
                </div>
            </div>
            <!-- End Col -->


            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-4">
                <div class="business-item-info">
                    <h3>Present Your Business</h3>
                    <p>ChatStore can help get your business, product, or service in front of more people. Whether you're
                        launching a new product or driving awareness, conversation creates a meaningful connection with
                        your business.<br /><br /><br />
                </div>
            </div>
            <!-- End Col -->

        </div>
    </div>
</section>
<!-- Business Plan Section End -->