<!-- Recent Showcase Section Start -->
<section id="{{ include.id }}">
    <div class="container-fluid right-position">
        <!-- Start Row -->
        <div class="row gradient-bg">
            <div class="col-lg-12">
                <div class="showcase-text section-header text-center">
                    <div>
                        <h2 class="section-title">Test the sample ChatStore bot!</h2>
                        <br />
                        <a href="https://m.me/makechatstore" target="_blank" class="btn btn-apple">
                            <i class="lni-facebook-messenger"></i> Start the Sample
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->
    </div>
</section>
<!-- Recent Showcase Section End -->