<!-- Recent Showcase Section Start -->
<section id="{{ include.id }}">
    <div class="container-fluid right-position">
        <!-- Start Row -->
        <div class="row gradient-bg">
            <div class="col-lg-12">
                <div class="showcase-text section-header text-center">
                    <div>
                        <h2 class="section-title">Test the sample ChatStore bot!</h2>
                        <div class="fb-send-to-messenger btn" messenger_app_id="498860363814397"
                            page_id="172817753627723" data-ref="welcome" color="white" size="xlarge"
                            style="padding: 5px;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->
    </div>
</section>
<!-- Recent Showcase Section End -->