<!-- Services Section Start -->
<section id="{{ include.id }}" class="section">
    <div class="container">

        <div class="row">

            <!-- Start Col -->
            <div id="install" class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-candy"></i>
                    </div>
                    <h4>Present</h4>
                    <p>List the goods that you are selling</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-offer"></i>
                    </div>
                    <h4>Attract</h4>
                    <p>Add special offers</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-dollar"></i>
                    </div>
                    <h4>Monetize</h4>
                    <p>Sell directly through your chatbot</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Services Section End -->