<!-- Services Section Start -->
<section id="{{ include.id }}" class="section">
    <div class="container">

        <div class="row">

            <div data-aos="flip-down" data-aos-duration="1000" class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-stats-up"></i>
                    </div>
                    <h4>When you need growth...</h4>
                    <p>Enable your customers to share your goods/services with friends.</p>
                </div>
            </div>

            <div data-aos="flip-down" data-aos-duration="1000" class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-candy"></i>
                    </div>
                    <h4>When you want to engage...</h4>
                    <p>Provide an anttractive way to present your goods/services.</p>
                </div>
            </div>

            <div data-aos="flip-down" data-aos-duration="1000" class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni-island"></i>
                    </div>
                    <h4>When you are away...</h4>
                    <p>Handle the initial communication with your prospects.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Services Section End -->