<nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
        <a href="{{ site.baseurl }}/index.html" class="navbar-brand">ChatSt<i class="lni-shopping-basket"></i>re</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="lni-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#home">Home</a>
                </li>

                {% for widget in site.data.widgets %}

                {% if widget.enabled == true and  widget.display_name != nil %}

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#{{ widget.name }}">{{ widget.display_name }}</a>
                </li>

                {% endif %}

                {% endfor %}

                <li>
                    <a href="#contactus" class="btn btn-singin page-scroll">
                        Subscribe
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>