<!-- Business Plan Section Start -->
<section id="{{ include.id }}">
    <div class="container">

        <div class="row">
            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                <div class="business-item-img">
                    <a href="https://m.me/makechatstore" target="_blank">
                        <img src="{{ site.baseurl }}/images/share-10.PNG" data-aos="fade-right"
                            style="width: 60%; height: auto;" class="img-fluid" alt="">
                        <img src="{{ site.baseurl }}/images/share-11.PNG" data-aos="fade-right"
                            style="width: 60%; height: auto;" class="img-fluid" alt="">
                        <img src="{{ site.baseurl }}/images/share-12.PNG" data-aos="fade-right"
                            style="width: 60%; height: auto;" class="img-fluid" alt="">
                        <img src="{{ site.baseurl }}/images/share-13.PNG" data-aos="fade-right"
                            style="width: 60%; height: auto;" class="img-fluid" alt="">
                        <img src="{{ site.baseurl }}/images/share-14.PNG" data-aos="fade-right"
                            style="width: 60%; height: auto;" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <!-- End Col -->


            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-4">
                <div class="business-item-info">
                    <h3>Growth Hacking</h3>
                    <p>Your customers will be able to share your products or services with their friends on Messenger.
                        The name and icon of your ChatStore bot will appear as an attribution at the top of the shared
                        message. The attribution opens a conversation with your ChatStore bot when
                        tapped.<br /><br /><br />

                </div>
            </div>
            <!-- End Col -->

        </div>
    </div>
</section>
<!-- Business Plan Section End -->