<!-- Business Plan Section Start -->
<section id="{{ include.id }}">
    <div class="container">

        <div class="row">
            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-0 pt-70 pr-5">
                <div class="business-item-img">
                    <a href="https://m.me/makechatstore" target="_blank">
                        <img src="{{ site.baseurl }}/images/hi.png" data-aos="fade-right" data-aos-duration="500"
                            style="width: 23%; height: auto;" class="img-fluid" alt=""><br />
                        <img src="{{ site.baseurl }}/images/great.png" data-aos="fade-right" data-aos-duration="1000"
                            style="width: 40%; height: auto;" class="img-fluid" alt=""><br />
                        <img src="{{ site.baseurl }}/images/action.png" data-aos="fade-right" data-aos-duration="1500"
                            style="width: 45%; height: auto;" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <!-- End Col -->


            <!-- Start Col -->
            <div class="col-lg-6 col-md-12 pl-4">
                <div class="business-item-info">
                    <h3>Personalized Conversation</h3>
                    <p>The personal touch is essential for the conversion of a lead into a customer. With ChatStore, you
                        talk to your customers as a friend.<br /> People already spend their time on Facebook. It's a
                        matter
                        of individual approach to engaging with them. <br /><br /><br />

                </div>
            </div>
            <!-- End Col -->

        </div>
    </div>
</section>
<!-- Business Plan Section End -->