<!-- Our Pricing Plan Section Start -->
<section id="{{ include.id }}" class="section">
    <div class="container">
        <!-- Start Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="pricing-text section-header text-center">
                    <div>
                        <h2 class="section-title">Pricing Plans</h2>
                        <!-- <div class="desc-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                            <p>eiusmod tempor incididunt ut labore et dolore.</p>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row pricing-tables">
            <!--  Start Col -->
            <div class="col-lg-4 col-md-4 col-xs-12 offset-2">
                <div class="pricing-table text-center">
                    <div class="pricing-details">
                        <h3>FREE</h3>
                        <h1><span>$</span>0</h1>
                        <ul>
                            <li>5 Products</li>
                            <li>Unlimited Customers</li>
                            <li>ChatStore Branding</li>
                            <li>Basic Support</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#contactus" class="btn btn-border page-scroll">Get Started</a>
                    </div>
                </div>
            </div>
            <!--  End Col -->
            <!--  Start Col -->
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="pricing-table text-center">
                    <div class="pricing-details">
                        <h3>Business</h3>
                        <h1><span>$</span>10</h1>
                        <ul>
                            <li>Unlimited Products</li>
                            <li>Unlimited Customers</li>
                            <li>Customizations</li>
                            <li>Premium Support</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a class="gumroad-button" href="https://gum.co/HMyuAs" target="_blank">Purchase</a>
                        <!-- <a href="mailto:sales@chatstore.io?subject=ChatStore Business Subscription Request&body=We need a ChatStore Business Subscription!" class="btn btn-common">Contact Us</a> -->
                    </div>
                </div>
            </div>
            <!--  End Col -->

        </div>
        <!-- End Row -->
    </div>
</section>
<!-- Our Pricing Plan Section End -->